<div>
    <div>
        <h1>{{person.firstName + " " + person.lastName}}</h1>
        <p>{{"age: " + person.age.toString()}}</p>
    
    </div>
    <div>
        <button (click)="onDelBtnClick()">Delete</button>
    </div>
    
</div>